$base-grey-color: #ccc;
$base-black-color: #000;
$width-30: 30px;

.w-30 {
  width: $width-30;
}
.m-center {
  margin: 0 auto;
}

.navigation-buttons {
  position: relative;
  text-align: center;
}

.card {
  width: 350px;
}

.carousel-inner {
  justify-content: center;
  align-items: center;
  height: 100vh;
  .img-cards {
    height: 300px;
    width: 100%;
    object-fit: contain;
  }
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
}
.indicator {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: $base-grey-color;
  border-radius: 50%;
  transition: all 0.3s ease;
  &.active {
    width: 30px;
    height: 10px;
    background-color: $base-black-color;
    border-radius: 5px;
  }
}
